@import '../sass/mixins.scss';
@import '../sass/variables.scss';


.Img-About{
    display: flex;
    width: 90%;
    object-fit: cover;
    height: 223px;
    margin-left: auto;
    margin-right: auto;
    @include radius-cards;
}
.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    .DropDownContainer{
        width: 100%;
    }
}











