@import '../sass/mixins.scss';
@import '../sass/variables.scss';

.LogementDropDownContainer {
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    width: $base-logement-width;

    > .DropDownContainer {
        width: 80%;
    }

    .equipements {
        margin: 0;
        padding: 0;
    }

    @media (max-width: 700px) {
        flex-direction: column;
            width: 100%;
            .equipements {
                padding-left: 20px;
            }
    }


}

