@import '../sass/mixins.scss';
@import '../sass/variables.scss';

.DropDownContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px ;
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .DropBtn{
        background-color:#FF6060;
        border-radius: 3px;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        .DropBtnText{
            color: #F6F6F6;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            align-items: center;
        }
    }
    .DropDownContainerTexte {
        display: none;
        visibility: hidden;
        background-color: #F6F6F6;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-weight: 400;
        font-size: 24px;
        line-height: 142.6%;
        color: black;
        margin-top: 0%;
        padding: 10px 30px;
       

        
        
        &.visible {
            display: flex;
            flex-direction: column;
            visibility: visible;
            animation: scale-in-ver-top 600ms ease-in-out ;
            
        }
    }
}

@keyframes scale-in-ver-top {
    from {
        transform: scaleY(0);
        transform-origin: 100% 0%;
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@media (max-width: 425px){
    .DropDownContainer{
        margin-bottom: 20px;
        padding-left: 0px;
        .DropBtn{
            .DropBtnText{
                font-size: 12px;
            }
        }
        .DropDownContainerTexte {
            font-size: 12px;
        }
    }
    
}

  
  

  
