@import '../sass/mixins.scss';
@import '../sass/variables.scss';


header{
    display: flex;
    justify-content: space-between;
    margin: 40px 90px;
    
    nav{
        display: flex;
        gap: 90px;
        align-items: center;
        margin-right: 30px;
        

        a{
            font-size: 28px;
            @include nav-style;
        }
    }
}


@media screen and (max-width: 425px) {
    header {
        margin: 20px;
        margin-left: 7.5%;
        height: 46.88px;

        .logo-header{
            height: 40px;
        }

        nav{
            margin-right: 15px;
            gap: 50px;
            
            a{
                width: 100%;
                font-size: 12px;
                white-space: nowrap;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 425px){
    header{
        
        .logo-header{
            height: 30px;
            margin-top: auto;
            margin-bottom: auto;
        }
        nav{
            padding-left: 30px;
            padding-right: 0px;
        }
    }
}

@media screen and  (min-width: 426px){
    header {
        margin-left: 7.5%;
        margin-top: 20px;
        height: 46.88px;

        .logo-header{
            height: 40px;
        }

        nav{
            padding-left: 80px ;
            gap: 50px;
            
            a{
                width: 100%;
                font-size: 12px;
                white-space: nowrap;
            }
        }
    }
}

@media screen and  (min-width: 500px){
    header {
        nav{
            padding-left: 130px ;

            a{
                font-size: 15px;
            }
        }
    }
}

@media screen and  (min-width: 600px){
    header {
        nav{
            padding-left: 190px ;
            a{
                font-size: 18px;
            }
        }
    }
}

@media screen and  (min-width: 900px){
    header {
        margin-left: 10.5%;
        nav{
            padding-left: 210px ;
            gap: 90px;
            margin-right: 15px;
            a{
                font-size: 18px;
            }
        }
    }
}

@media screen and  (min-width: 1100px){
    header {

        .logo-header{
            height: 45px;
        }

        nav{
            padding-left: 230px ;
            gap: 90px;
            margin-right: 25px;
            a{
                font-size: 22px;
            }
        }
    }
}

@media screen and  (min-width: 1200px){
    header {
        nav{
            margin-right: 35px;
        }
    }
}

@media screen and  (min-width: 1300px){
    header {
        nav{
            margin-right: 45px;
        }
    }
}

@media screen and  (min-width: 1400px){
    header {
        nav{
            margin-right: 55px;
        }
    }
}

@media screen and  (min-width: 1440px){
    header {
        nav{
            margin-right: 60px;
        }
    }
}

