@import '../sass/mixins.scss';
@import '../sass/variables.scss';


.card-container{
    display: grid;
    grid-template-columns: repeat(3, 380px);
    gap: 40Px;
    margin-bottom: 22px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    border-radius: 20px;
    padding-left: 3%;
    margin-left: 10%;
    margin-right:10%;
    padding-bottom: 3%;
}
.card-item{
    display: flex;
    border-radius: 15px;
	max-height: 255px;
    max-width: 100%;
    cursor: pointer;
    margin-top: 40px;
}
.card-item-image{
    height: 255px;
    width: 335px;
    object-fit: cover;
    border-radius: 15px;
}

.card-item-text{
	position: absolute;
    margin-top: 200Px;
    margin-left: 1%;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    z-index: 9999999999999999999999999999;
    line-height: 100%;
    width: 15%;
}
.fade{
    border-radius: 15px;
    position: absolute;
    opacity: 0.3;
    z-index: 9999999999;
    background: black;
    height: 255px;
    width: 335px;
    background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
}



@media (max-width:1470px) {
    .card-container{
        grid-template-columns: repeat(3, 340px);
    }
    .card-item-image{
        width: 90%;
    }
    .fade{
        border-radius: 15px;
        position: absolute;
        opacity: 0.3;
        z-index: 9999999999;
        background: black;
        width: 306px;
        height: 255px;
        background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
    }
}

@media  (max-width:1350px) {
    .card-container{
        grid-template-columns: repeat(2, 380px);
        background-color: white;
    }
    .fade{
        border-radius: 15px;
        position: absolute;
        opacity: 0.3;
        z-index: 9999999999;
        background: black;
        width: 342px;
        height: 255px;
        background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
    }

}
@media (max-width:800px) {
    .card-container{
        margin-top: 35px;
        background-color: white;
    }
    .card-container{
        grid-template-columns: repeat(1, 380px);
    }
    .card-item{
        display: flex;
        border-radius: 15px;
        max-height: 150px;
        max-width: 100%;
        cursor: pointer;
        margin-top: 40px;
        margin-left: 9%;
        margin-bottom: 50px;
    }
    .card-item-image{
        height: 200px;
        width: 300Px;
        object-fit: cover;
        border-radius: 15px;
    }
    .card-item-text{
        position: absolute;
        margin-top: 150Px;
        margin-left: 1%;
        line-height: 100%;
        width: 35%;
        font-size: 15px;
    }
    .fade{
        border-radius: 15px;
        position: absolute;
        opacity: 0.3;
        z-index: 9999999999;
        background: black;
        max-width: 300px;
        height: 200px;
        background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
    }
    
}
@media (max-width:400px) {
    .card-container{
        margin-top: 25px;
        background-color: white;
        grid-template-columns: repeat(1, 380px);
        gap: 10Px;
    }
    .card-item{
        display: flex;
        border-radius: 15px;
        max-height: 150px;
        max-width: 100%;
        cursor: pointer;
        margin-top: 40px;
        margin-left: 15.5%;
    }
    .card-item-image{
        height: 150px;
        width: 250Px;
        object-fit: cover;
        border-radius: 15px;
    }
    .card-item-text{
        position: absolute;
        margin-top: 90Px;
        margin-left: 1%;
        line-height: 100%;
        width:70%;
    }
    .fade{
        border-radius: 15px;
        position: absolute;
        opacity: 0.3;
        z-index: 9999999999;
        background: black;
        max-width: 250px;
        height: 150px;
        background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
    }
    
}
@media screen and (max-width:375px) {
    .card-container{
        grid-template-columns: repeat(1, 310px);
        gap: 10Px;
        margin-left: 0px;
        margin-right: 14%;
    }
    .fade{
        border-radius: 15px;
        position: absolute;
        opacity: 0.3;
        z-index: 9999999999;
        background: black;
        max-width: 250px;
        height: 150px;
        background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
    }
}
@media screen and (max-width:320px) {
    .card-container{
        grid-template-columns: repeat(1, 310px);
        gap: 10Px;
        margin-left: 0px;
        margin-right: 14%;
    }
    .fade{
        border-radius: 15px;
        position: absolute;
        opacity: 0.3;
        z-index: 9999999999;
        background: black;
        max-width: 250px;
        height: 150px;
        background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
    }
    
}

