$grey-color:#F6F6F6;
$black-footer-color: black;
$white-color:white;
$base-container-height: 500px;
$base-image-width: 1540px;
$base-image-height: $base-container-height;
$base-vector-offset: 740px;
$stars-padding-left: 6px;
$primary-color: #FF6060;
$base-logement-width: 84%;
$base-padding:  30px;
$base-margin-horizontal: 10%;
$base-border-radius: 20px;
$base-font-size: 48px;
$base-banniere-width: 1550px;
$base-banniere-background-position-y: 570px;
